
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  font-family: "Gilroy", sans-serif;
  border-radius: 15px;
  color: white;
  transition: top 0.3s; 
}

.navbar.fixed {
  top: 0vh; 
  background-color: rgba(0, 0, 0, 0.495);
}

.container {
  max-width: 800px;
  margin: 7vh auto 0 auto; 
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}


.logo {
  font-size: 1.5rem;
}

.menu-icon {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 10px;
  display: none; /* Initially hide menu icon */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-link {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
  color: white; /* Set text color */
}
.nav-link:hover{
text-decoration: none;
}
.nav-link.active {
  background-color: #555;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Show menu icon on mobile */
  }
  .nav-links {
    display: none; /* Initially hide nav links on mobile */
    flex-direction: column; /* Align links vertically on mobile */
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    padding: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  .nav-links.active {
    display: flex; /* Show nav links when menu is open on mobile */
    opacity: 1;
    pointer-events: all;
  }
  .nav-link {
    text-align: center;
    margin: 0.5rem 0; /* Add margin between links */
  }
}
